<div class="book-preview">
    <div class="overlay" (click)="closePreview()"></div>
    <div class="content">
        <div class="info">  
            <div class="book-details">
                <div class="book-summary">
                    <h2 class="book-title">{{ book.title }}</h2>
                    <button class="close-btn" (click)="closePreview()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="details">
                    <div class="left-details">
                        <p class="author"><span class="bold">Author:</span> {{ book.author }}</p>
                        <p class="genre"><span class="bold">Genre:</span> {{ book.genre }}</p>
                        <p class="language"><span class="bold">Language:</span> {{ book.language }}</p>
                        <p class="pages"><span class="bold">Pages:</span> {{ book.pages }}</p>
                    </div>
                    <div class="right-details">
                        <p class="description"><span class="bold">Description:</span> {{ book.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
