.search-bar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.search-bar {
    font-size: 1.2em;
    font-weight: 500;
    padding: 16px 32px;
    width: 450px;
    max-width: 100%;
    display: block;
    border: 2px solid var(--yellow);
    border-radius: 16px;
    outline: none;
    transition-duration: .1s;
    color: var(--grey);
}

.btn-search{
    position: absolute;
}

.btn-clear{
    position: relative;
    padding: 8px;
    top: 11px;
    left: -46px;
    color: var(--light-grey);
    cursor: pointer;
    font-weight: 300;
}