.search-bar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    margin-bottom: 16px;
}

.search-bar {
    width: 60%;
    font-size: 1.1em;
    font-weight: 500;
    padding: 16px 32px;
    max-width: 100%;
    display: block;
    border: 2px solid var(--blue);
    border-radius: 16px;
    outline: none;
    transition-duration: .1s;
    color: var(--grey);
    margin-right: 16px;
}

.btn-search{
    position: absolute;
}

.btn-clear{
    position: relative;
    padding: 8px;
    top: 11px;
    left: -46px;
    color: var(--light-grey);
    cursor: pointer;
    font-weight: 300;
}

.filter-block-upper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.filter-block-lower {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.select-item {
    font-size: 1.1em;
    color: var(--light-grey);
    width: 100%;
    border: 2px solid var(--blue);
    outline: none;
    padding: 16px 32px;
    border-right: none;
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;         
    background-image: none;   
    cursor: pointer;  
}

.select-item:first-of-type {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.select-item:last-of-type {
    border-right: 2px solid var(--blue);
}

.btn-reset {
    font-size: 1.1em;
    color: var(--light-grey);
    width: calc( 69% - 5px );
    padding: 16px 32px;
    border-left: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    outline: none;
    border: 2px solid var(--blue);
    border-left: none;
    background-color: #FFF;
    cursor: pointer;
}

.btn-reset:hover{
    background-color: var(--light-blue);
}

.select-pages {
    font-size: 1.1em;
    color: var(--light-grey);
    width: 20%;
    border: 2px solid var(--blue);
    outline: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 16px 32px;
    -webkit-appearance: none; 
    -moz-appearance: none;    
    border-right: none;
    appearance: none;         
    background-image: none;   
    cursor: pointer;  
}

.select-pages::-webkit-inner-spin-button,
.select-pages::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove the up and down arrows for number input in Firefox */
.select-pages[type="number"] {
    -moz-appearance: textfield;
}

.select-pages:last-of-type {
    border: none;
    border-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    outline: none;
    border: 2px solid var(--blue);
}