<app-search-bar
  [authors]="authors"
  [genres]="genres"
  [languages]="languages"
  (filterChangeEvent)="filterBooks($event)"
  (searchEvent)="searchBooks($event)"
></app-search-bar>
<div class="book-container">
  <div 
    class="tile-container"
    *ngFor="let book of filteredBooks"
  >
    <app-book-tile
      
      [book]="book"
      (click)="openBookPreview(book)"
    ></app-book-tile>
  </div>
</div>
<app-book-preview
  *ngIf="selectedBook"
  [book]="selectedBook"
  (closePreviewEvent)="closeBookPreview()"
></app-book-preview>